@font-face {
  font-family: "Palanquin";
  font-weight: 300;
  src: url(./dist/Palanquin-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Palanquin";
  font-weight: 500;
  src: url(./dist/Palanquin-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "DejaVu Mono";
  src: url(./dist/DejaVuSansMono.ttf) format("truetype");
}
html {
  font-family: "Palanquin", "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: 300;
  background-color: #ddd;
}

svg {
  font-size: 10px;
  font-family: "DejaVu Mono", "monospace";
  z-index: 10;
}

h4 {
  font-weight: 500;
}

.menu-content ul {
  margin-top: 0.25em;
}

.menu-content h4 {
  padding: 0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.menu {
  visibility: hidden;
  border-radius: 3px;
  position: fixed;
  background: #fff;
  padding: 1.25mm;
  border: 1px solid #ccc;
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px; */
  /* box-shadow: rgba(221, 221, 221, 0.5) 0px 0px 5px; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  width: 25%;
  display: flex;
  flex-direction: row;
}

.menu > div {
  flex-grow: 1;
  /* width: 50%; */
}

.legend_item {
  float: left;
  border: 1px solid #1b191d;
  width: 1em;
  height: 1em;
  margin-right: 0.33em;
  opacity: 1;
  vertical-align: text-bottom !important;
}

a,
a:visited {
  text-decoration: underline;
  color: #1b191d;
}

a:hover {
  color: #1b191d;
}

.menu ul {
  list-style-type: none;
  padding-left: 2.5mm;
}

.menu_button {
  position: absolute;
  right: 20px;
  font-size: 48px;
  user-select: none;
}

.menu_button text {
  fill: #1b191d !important;
}

.x.axis {
  fill: #1b191d;
  fill-opacity: 1;
  stroke: none;
}

.y.axis text {
  fill: #1b191d;
  font-family: "DejaVu Mono", "monospace";
}

.y.axis path {
  display: none;
}

.y.axis line {
  stroke: #1b191d;
  stroke-opacity: 1;
}

.y.axis .zero line {
  stroke: #1b191d;
  stroke-opacity: 1;
}

.title {
  font: 300 48px "Palanquin", "Helvetica Neue", "Helvetica", "sans-serif";
  fill: #1b191d;
  stroke: 1px solid #1b191d;
}

.subtitle {
  font: 300 24px "Palanquin", "Helvetica Neue", "Helvetica", "sans-serif";
  fill: #1b191d;
}

.x.axis text {
  font-family: "DejaVu Mono", "monospace";
}

.x.axis .domain {
  stroke-width: 1px;
  fill: none;
  display: none;
}

.area {
  fill-opacity: 0.95;
}

.tooltip {
  border: 0.25px solid #ccc;
  background: #f8f8f8;
  border-radius: 3px;
  position: fixed;
  z-index: 99999;
  min-height: 7px;
  min-width: 12em;
  padding: 0.25em;
  top: 0;
  left: 0;
  visibility: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  font-size: 8pt;
}

.tooltip ul {
  list-style-type: none;
  padding-left: 2.5mm;
}

.tooltip-header {
  font-weight: bold;
}

/* Be kinder to mobile devices */
@media (max-width: 450px) {
  .tick {
    font-size: 6pt;
  }
}
.toggle {
  text-decoration: underline;
  cursor: pointer;
}

.control {
  background: none !important;
}

.enabled {
  font-weight: bold;
  text-decoration: none;
}

.legend.key {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 0.25em;
  border: 1px solid #ccc;
}

h2, h3 {
  font-weight: 100 !important;
  color: #1b191d;
  text-align: center;
  margin: 0;
  padding: 0;
}

.h-space {
  display: inline-block;
  width: 1.75em;
}

.about {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  top: 12.5%;
  left: 17%;
  padding: 1em;
  opacity: 1;
  background: #eaeaea;
  width: calc(66% - 1em);
  height: calc(75% - 1em);
  position: fixed;
  display: none;
  line-height: 130%;
  overflow-y: auto;
  z-index: 500;
}

.about-link {
  font-family: "DejaVu Mono";
  cursor: pointer;
  text-decoration: underline;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.container.chart {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 40%;
  vertical-align: top;
  overflow: hidden;
}

body.chart p {
  padding-left: 20px;
  margin-top: 0;
  line-height: 130%;
}

.tooltip_series_item {
  opacity: 0.95;
}

.container.map {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 33.33%;
  vertical-align: top;
  overflow: hidden;
}

.map.plot {
  /* border: 1px solid #ccc; */
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* Slider */
}

.map.plot .maptick {
  stroke: #1b191d;
  shape-rendering: crispEdges;
}

.map.plot .track,
.map.plot .track-inset,
.map.plot .track-overlay {
  stroke-linecap: round;
}

.map.plot .track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.map.plot .track-inset {
  /* stroke: #ddd; */
  stroke: #ccc;
  stroke-width: 8px;
}

.map.plot .track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.map.plot .selection {
  fill: navy;
  opacity: 1;
}

.map.plot .handle {
  pointer-events: none;
}

.map.plot .overlay {
  pointer-events: none;
  fill: none;
}

.map.legend {
  margin-top: 0;
}

.map.legend li {
  display: inline-block;
  padding-right: 1em;
}

.province {
  fill: #f0f0f0;
  stroke: #1b191d;
  stroke-width: 0.5px;
}

.country {
  fill: #f0f0f0;
  stroke: #1b191d;
  stroke-width: 0.5px;
}

.container.globe {
  display: inline-block;
  position: relative;
  width: 60%;
  padding-bottom: 48%;
  vertical-align: top;
  overflow: hidden;
}

.globe table {
  float: right;
  position: relative;
  top: 0;
  right: 5%;
  margin-top: 1em;
  width: 35%;
}

.globe table tbody tr > :first-child {
  text-align: right;
}

.globe table tbody tr > :first-child {
  width: 50%;
}

.province.active {
  stroke-width: 0.5px;
}

.active {
  stroke: yellowgreen;
  stroke-width: 5px;
  stroke-opacity: 0.5;
  filter: drop-shadow(3px 3px 2px #1b191db2);
  -webkit-filter: drop-shadow(3px 3px 2px #1b191db2);
}

.deaths {
  background: #f5f5f5;
  fill: #f5f5f5;
}

.recovered {
  background: #5ab4ac;
  fill: #5ab4ac;
}

.confirmed {
  background: #d8b365;
  fill: #d8b365;
}

.east_china {
  background: #d8b365;
  fill: #d8b365;
}

.north_china {
  background: #f6e8c3;
  fill: #f6e8c3;
}

.northeast_china {
  background: #5ab4ac;
  fill: #5ab4ac;
}

.northwest_china {
  background: #c7eae5;
  fill: #c7eae5;
}

.south_central_china {
  background: #8c510a;
  fill: #8c510a;
}

.southwest_china {
  background: #01665e;
  fill: #01665e;
}

.east_asia {
  fill: #543005;
  background: #543005;
}

.southeast_asia {
  fill: #8c510a;
  background: #8c510a;
}

.central_asia {
  fill: #bf812d;
  background: #bf812d;
}

.south_asia {
  fill: #dfc27d;
  background: #dfc27d;
}

.eastern_europe {
  fill: #f6e8c3;
  background: #f6e8c3;
}

.central_europe {
  fill: whitesmoke;
  background: whitesmoke;
}

.western_europe {
  fill: #c7eae5;
  background: #c7eae5;
}

.northern_europe {
  fill: #80cdc1;
  background: #80cdc1;
}

.southern_europe {
  fill: #35978f;
  background: #35978f;
}

.middle_east {
  fill: #74add1;
  background: #74add1;
}

.north_america {
  fill: #4575b4;
  background: #4575b4;
}

.south_america {
  fill: #313695;
  background: #313695;
}

.other {
  fill: #00362b;
  background: #00362b;
}

.level1 {
  fill: #f7fcf5;
  background-color: #f7fcf5;
}

.level2 {
  fill: #e5f5e0;
  background-color: #e5f5e0;
}

.level3 {
  fill: #c7e9c0;
  background-color: #c7e9c0;
}

.level4 {
  fill: #a1d99b;
  background-color: #a1d99b;
}

.level5 {
  fill: #74c476;
  background-color: #74c476;
}

.level6 {
  fill: #41ab5d;
  background-color: #41ab5d;
}

.level7 {
  fill: #238b45;
  background-color: #238b45;
}

.level8 {
  fill: #006d2c;
  background-color: #006d2c;
}

.level9 {
  fill: #00441b;
  background-color: #00441b;
}

.png-canvas {
  display: none;
  image-rendering: pixelated;
}

.png-img {
  display: none;
}

.png-download-container {
  cursor: pointer;
  position: relative;
  float: none;
  width: 100%;
  z-index: 99999;
  bottom: 0;
}

#download {
  z-index: 99999;
}

/*# sourceMappingURL=styles.css.map */
