// .chart.tooltip {
// }
.container.chart {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 40%;
  vertical-align: top;
  overflow: hidden;
}

body.chart {
  p {
    padding-left: 20px;
    margin-top: 0;
    line-height: 130%;
  }
}

.tooltip_series_item {
  opacity: 0.95;
}
