@use "colorbrewer" as *;

// Fonts
$proportional_font: 'Palanquin', 'Helvetica Neue', 'Helvetica', 'sans-serif';
$mono_font: 'DejaVu Mono', 'monospace';

// Colors
$document_background: #ddd;
$blackish: #1b191d;

// Scales
$palette_sequential: cbrew('Greens', 9);
$palette_diverging_6: cbrew('BrBg', 6);
$palette_diverging_11: cbrew('BrBg', 11);
